#about {
  position: relative;
}

.about-section-flex-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}

.about_p1 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

.about-main-text {
  text-align: center;
  display: block;
}

.about-img-container {
  display: flex;
  height: auto;
  width: 100%;
  margin: auto 0;
}

.about-img {
  width: 100%;
  border-radius: 2rem;
  filter: drop-shadow(0 2px 3px rgb(85, 85, 85));
}

.about-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.experience-container, .education-container {
  padding: 1.5rem;
  flex: 1;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}



.experience-icon, .education-icon {
  display: block;
  font-size: 1.5rem;
}



.experience__bold {
  font-weight: 600;
}

.margin-none {
  margin: 0 !important;
  padding: 0 !important;
}

.about_p2 {
  text-align: justify;
  font-weight: 500 !important;
}



@media (320px <=width <=480px) {
  #about {
    margin-top: 7rem;
  }
  .about-section-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-img-container {
    width: 55%;
  }

  .arrow-icon {
    display: none;
  }

  .title__about {
    font-size: 2rem;
    margin-top: 0;
  }

  .about-section-flex-container {
    gap: 0rem;
  }
}

@media (480px <=width <=576px) {
  #about {
    margin-top: 7rem;
  }
  .about-section-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-img-container {
    width: 45%;
  }

  .arrow-icon {
    display: none;
  }

  .title__about {
    font-size: 2rem;
    margin-top: 0;
  }

  .about-section-flex-container {
    gap: 0rem;
  }
}

@media (576px <=width <=768px) {
  #about {
    margin-top: 7rem;
  }
  .about-section-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-img-container {
    width: 35%;
  }

  .arrow-icon {
    display: none;
  }

  .title__about {
    font-size: 2rem;
    margin-top: 0;
  }

  .about-section-flex-container {
    gap: 0rem;
  }
}

 @media (768px <= width <=1024px) {
  #about {
    margin-top: 13rem;
  }
  .about-section-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-img-container {
    width: 25%;
  }

  .arrow-icon {
    display: none;
  }

  .title__about {
    font-size: 2rem;
    margin-top: 0;
  }

  .about-section-flex-container {
    gap: 0rem;
  }
 }

 @media (1024px <= width <=1200px) {
  .arrow-icon {
    display: none;
  }
  .about-img-container {
    width: 1200px;
    height: auto;
  }
 }

/* @media (1200px <= width <=1440px) {}   */
