#profile {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.section-profile_photo-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.img {
  border-radius: 50%;
}

.section-profile_photo-container .ant-image-mask {
  height: 100%;
  width: 100%;
  border-radius: 50% !important;
}

.section-profile_flex-container {
  display: flex;
  gap: 5rem;
}

.section-profile_info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-profile_info-container p {
  font-weight: 600;
}

.section-profile_info-container__p1 {
  font-size: 1rem;
  margin: 0;
}

.title {
  font-size: 2.9rem;
  text-align: center;
  margin: 0;
}

.section-profile_info-container__p2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.section-profile_info-container_btns {
  display: flex;
  gap: 1.5rem;
}

.section-profile_info-container__btn-1 {
  /* border: rgb(53, 53, 53) 0.1rem solid !important; */
  border-radius: 2rem !important;
}

.section-profile_info-container__btn-2 {
  /* border: rgb(53, 53, 53) 0.1rem solid !important; */
  /* background: rgb(53, 53, 53) !important; */
  border-radius: 2rem !important;
}

/* .section-profile_info-container__btn-2:hover {
  background: rgb(0, 0, 0) !important;
  border-radius: 2rem !important;      
} */

.section-profile_socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.1rem;
}


.linkedin_icon,
.github_icon {
  cursor: pointer;
  height: 2rem;
  border-radius: 50%;
}

.linkedin_icon:hover,
.github_icon:hover {
  box-shadow: 0px 4px 24px 0 rgba(85, 85, 85, 0.7);
}


@media (320px <=width <=480px) {
  #profile {
    height: 70vh;
  }

  .section-profile_flex-container {
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
  }

  .section-profile_photo-container {
    width: 46vw;
    height: 46vw;
  }

  .title {
    font-size: 1.7rem;
  }
  
  .section-profile_info-container__p2 {
    font-size: 1.3rem;
  }
}

/* @media (480px <=width <=576px) {}

@media (576px <=width <=768px) {} */

/* @media (768px <= width <=1024px) {}

@media (1024px <= width <=1200px) {}

@media (1200px <= width <=1440px) {} */