#experience {
  position: relative;
}

.experience-main-text {
  text-align: center;
}

.experience_p1 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

.title-experience {
  font-size: 2.9rem;
  margin-top: 0;
}

.experience-containers {
  display: flex;
  gap: 2.5rem;
  margin-top: 5rem;
}

.frontend-experience,
.backend-experience {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  flex: 1;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
}

.frontend-experience_title,
.backend-experience_title {
  text-align: center;
}

.experience-subtitle {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  margin-top: 0;
}

.frontend-experience-list {
}

.frontend-list-item-flex-container, .backend-list-item-flex-container{
  display: flex !important;
  justify-content: center !important;
}

.frontend-list-item, .backend-list-item {
  display: flex;
  gap: 2rem;
}

.frontend-icon, .backend-icon {
  font-size: 1.3rem;
}

.frontend-text, .backend-text {
  display: flex;
  flex-direction: column;
}

.frontend-text h3 {
  margin: 0;
}

.backend-text h3 {
  margin: 0;
}

.frontend-label, .backend-label {}

.frontend-level, .backend-level {}


/* .list-frontend-flex-container {}

.backend-experience_list {} */