#projects {
  position: relative;
}

.projects-main-text {
  text-align: center;
}

.projects-p1 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

.projects-title {
  font-size: 2.9rem;
  margin: 0;
  margin-bottom: 1.5rem;
}



.card-list-item {
  display: flex !important;
  justify-content: space-around !important;
}

/* Styles for list pagination in  dark mode */
.list_dark-mode .ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  background-color: #e0e0e09d !important; /* Un azul grisáceo más suave para hover */
}

.list_dark-mode .ant-pagination-item {
  color: rgba(255, 255, 255, 0.65) !important; 
  background-color: #E0E0E0 !important; 
  border-color: #000000; 
}



.list_dark-mode .ant-pagination-item:not(.ant-pagination-item-active) a{
  color: #E0E0E0 !important; 
  background-color: #000C17!important; 
  border-color: #000000; 
}

.list_dark-mode .ant-pagination-item-active {
  background-color: #000000 !important; 
  border-color: #1677FF !important; 
  color: #FFFFFF !important; 
}

.list_dark-mode .ant-pagination-item-link {
  color: rgba(255, 255, 255, 0.85) !important; /* Flechas de navegación en blanco suave */
}

.list_dark-mode .ant-pagination-item-link:hover {
  color: #ffffff !important; /* Flechas de navegación blancas en hover */
}

@media (320px <=width <=480px) {
  #projects {
    margin-top: 37rem;
  }

}

@media (480px <=width <=576px) {
  #projects {
    margin-top: 32rem;
  }
}

 @media (576px <=width <=768px) {
  #projects {
    margin-top: 6rem;
  }
 }  

 @media (768px <= width <=1024px) {
  #projects {
    margin-top: 6rem;
  }
 }

/* @media (1024px <= width <=1200px) {}

@media (1200px <= width <=1440px) {}  */