#projects {
  position: relative;
}

.projects-main-text {
  text-align: center;
}

.projects-p1 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

.projects-title {
  font-size: 2.9rem;
  margin: 0;
  margin-bottom: 1.5rem;
}



.card-list-item {
  display: flex !important;
  justify-content: space-around !important;
}


@media (320px <=width <=480px) {
  #projects {
    margin-top: 37rem;
  }

}

@media (480px <=width <=576px) {
  #projects {
    margin-top: 32rem;
  }
}

 @media (576px <=width <=768px) {
  #projects {
    margin-top: 6rem;
  }
 }  

 @media (768px <= width <=1024px) {
  #projects {
    margin-top: 6rem;
  }
 }

/* @media (1024px <= width <=1200px) {}

@media (1200px <= width <=1440px) {}  */