.footer-container {
  display: flex;
  height: 100% !important;
  flex-direction: column;
  align-items: center;
  padding-top: 1.1rem;
  padding-bottom: 2.2rem;
  gap: 20px;
  background: #F5F5F5 !important;
  transition: background ease-in-out 0.6s;
}

.footer-container__dark-mode {
  background: #000C17 !important;
  transition: background ease-in-out 0.6s;
}

.nav-footer {
  background: #F5F5F5;
  transition: background ease-in-out 0.6s;
}

.nav-footer__dark-mode {
  background: #000C17;
  transition: background ease-in-out 0.6s;
}

.footer-p1{
  font-size: 1rem;
}

@media (320px <=width <=480px) {
  .nav-footer {
    width: 320px !important;
    font-size: 1rem;
  }
}

@media (480px <=width <=576px) {
  .nav-footer {
    width: 430px !important;
    font-size: 1rem;
  }
}

 @media (576px <=width <=768px) {
  .nav-footer {
    width: 490px !important;
    font-size: 1.2rem;
  }
 }  

/* @media (768px <= width <=1024px) {}

@media (1024px <= width <=1200px) {}

@media (1200px <= width <=1440px) {}