.burger-icon {
  display: block;
  font-size: 1.5rem !important;
}

.burger-icon:hover{
  color: rgb(22, 119, 255);
}



.drawer {
  background: #F5F5F5 !important;
}

.nav-mobile {
  display: block;
  background: #F5F5F5;
}

.mobile-menu-icon {
  display: none;
}


@media (280px <=width <=1200px) {
  .mobile-menu-icon {
    display: flex;
    cursor: pointer;
  }
}

@media (320px <=width <=480px) {
  .burger-icon {
    font-size: 1.8rem !important;
  }
}

 @media (480px <=width <=576px) {
  .burger-icon {
    font-size: 1.8rem !important;
  }
 }

/* @media (576px <=width <=768px) {}  */

/* @media (768px <= width <=1024px) {}

@media (1024px <= width <=1200px) {}

@media (1200px <= width <=1440px) {} */