#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 73vh;
}

.contact-main-text {
  text-align: center;
}

.contact_p1 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

.title-contact {
  display: block;
  font-size: 3rem;
  margin: 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: larger;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 2rem;
}

.contact-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: larger !important;
  padding: 1.5rem !important;
}

.contact-btn p {
  font-size: larger !important;
  color: #000 !important;
}

.email-icon_img {
  height: 2.5rem;
}

.linkedin-icon_img {
  height: 2rem;
}

@media (320px <=width <=480px) {
  #contact {
    margin-top: 30rem;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    font-size: medium;
    margin: 2rem 0;
    padding: 0.5rem;
  }
}

@media (480px <=width <=576px) {
  #contact {
    margin-top: 30rem;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    font-size: medium;
    margin: 2rem 0;
    padding: 0.5rem;
  }
}

/* @media (576px <=width <=768px) {}  */

/* @media (768px <= width <=1024px) {}

@media (1024px <= width <=1200px) {}

@media (1200px <= width <=1440px) {}