.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  background: #F5F5F5;
}

.logo {
  font-size: 2rem;
}

@media (320px <=width <=480px) {
  .logo {
    font-size: 1.5rem;
    width: 42%;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
  }

  .header-container {
    justify-content: space-between;
  }
}

@media (480px <=width <=576px) {
  .logo {
    font-size: 1.5rem;
    width: 42%;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
  }

  .header-container {
    justify-content: space-between;
  }
}

/* @media (576px <=width <=768px) {}  */

/* @media (768px <= width <=1024px) {}

@media (1024px <= width <=1200px) {}

@media (1200px <= width <=1440px) {} */