.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background: #F5F5F5;
  transition: background ease-in-out 0.6s;
}

.header-container__dark-mode {
  background: #000C17 !important;
  transition: background ease-in-out 0.6s;
}

.logo {
  font-size: 2rem;
  color: #000 !important;
  transition: color ease-in-out 0.6s;
}

.logo__dark-mode {
  color: #E0E0E0 !important;
  transition: color ease-in-out 0.6s;
}



@media (320px <=width <=480px) {
  .logo {
    font-size: 1.2rem;
  }

  .header-container {
    justify-content: space-between;
  }
}

@media (480px <=width <=576px) {
  .logo {
    font-size: 1.4rem;
  }
}

@media (576px <=width <=768px) {
  .logo {
    font-size: 1.6rem;
  }
}

@media (768px <=width <=1024px) {
  .logo {
    font-size: 1.7rem;
  }
}

@media (1024px <=width <=1200px) {
  .logo {
    font-size: 1.8rem;
  }
}

/*@media (1200px <= width <=1440px) {} */